body,
html{
  margin: 0px;
}

.clickable{
  cursor: pointer;
}

.App{
  width: 400px;
  height: 400px;
  background-color: whitesmoke;
  font-size: 2rem;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  background-color: red;
  box-shadow: 0 1px 2px rgb(31, 31, 31), 0 0px 2px white;
  position: relative;

}

nav img{
  height: 80px;
}

.sign-in{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input{
  border: none;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-radius: 0.3rem;
  width: 250px;
  height: 40px;
}


form p{
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
}

.request_button{
  width: 200px;
  height: 80px;
  background-color: red;
  color: white;
  border-radius: 0.3rem;
}

.request-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #dc2626; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}