html,
body{
    margin: 0px;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2% 0px 2%;

}

.NavButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 80px;
    width: 30%;
    background-color: lightgrey;
}

.DarkModeProfile{
    display: flex;
}